
body{
    background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: repeat;
    max-width: 100%;
    overflow-x: hidden;

}
.starter-template {
    text-align: center;
}

h1{
    color: #0b0b2f;
    font-family: sans-serif;
}

h2{
    color: #590d0d;
    font-family: sans-serif;
}
